/* Resetowanie podstawowych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.youtube-videos, .audio-player {
    margin: 20px 0;
}

.youtube-videos h2, .audio-player h2 {
    margin-bottom: 15px;
}

iframe {
    width: 100%;
    max-width: 560px;
    margin: 10px 0;
}

audio {
    width: 100%;
    max-width: 300px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
